<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Conversor numerico/extenso</title>
</head>
<body>

    <h2>Converter<h2>
    <form action="/" method="POST">
        <input type="text" placeholder="Valor a converter" name="valor">
        <button type="submit">Submit</button>
    </form> 

</body>
</html>